.contactTitle {
  font-size: 5rem;
  color: white;
}
.contactSection {
  background-image: url("../images/bgBooks.png");
}

.contact-header {
  background-color: #3c3c3cc8;
}
.contactFormContainer {
  display: flex;
  justify-content: center;
}
