.btn_get_two {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #283244;
  border-color: #283244;
  color: #fff;
}

.btn_get_two:hover {
  background: transparent;
  color: #242f42;
}

.footerLink {
  color: #000;
  font-size: 20px;
}
.footerLink:hover {
  color: #1d2252;
}
.footer-links {
  color: rgb(93, 93, 93);
}

.footer-links:hover {
  color: #1a122a;
}
.links {
  text-decoration: none;
}
