.storyDetailsImg {
  width: 20rem;
  height: 22rem;
  opacity: 0.9;
}

.storyDiv {
  background: rgb(255, 255, 255);
}
.storyTitle {
  font-size: 5rem;
  color: #3e3e3e;
}
.authorName {
  font-size: xx-large;
  color: #323232;
}
blockquote {
  line-height: 1.4;
  position: relative;
}

blockquote:before,
blockquote:after {
  position: absolute;
  color: #252525;
  font-size: 6rem;
  width: 4rem;
  height: 4rem;
}

blockquote:before {
  content: "“";
  left: -2rem;
  top: -2rem;
}

blockquote:after {
  content: "”";
  right: 0rem;
  bottom: -1rem;
}

@media screen and (max-width: 600px) {
  .storyTitle {
    font-size: 4rem;
  }
  .authorName {
    font-size: medium;
  }
  blockquote:before,
  blockquote:after {
    font-size: 3rem;
    width: 2rem;
    height: 2rem;
  }
}

.category {
  background-color: #1d2533;
  color: white;
}
